# = npm & bower & yarn & lerna
# ----------------------------------------------------------------------
node_modules/*
bower_components/*
package.json
package-lock.json
npm-debug*
yarn-debug*
yarn-error*
lerna-debug*

# = MAC files
# ----------------------------------------------------------------------
.DS_Store

# = editor
.vscode
.idea

# = structure
dist/
build/

# = record
log/
