body {
  font-family: PingFangSC-Regular;
  min-width: 1200px;
  overflow: scroll;
}

.layout {
  width: 1200px;
  margin: 0 auto;
}

.master-header {
  width: 100%;
  height: 200px;
  position: absolute;
  z-index: 999;
  background: url('../images/master-top-line.png') no-repeat;
}

.master-header div {
  display: inline-block;
}

.master-header section {
  background: rgba(21, 37, 73, 0.65);
  height: 130px;
  position: relative;
  top: 5px;
}

.master-logo,
.master-nav {
  float: left;
}

.master-logo {
  background: url('../images/master-logo.png') no-repeat right top;
  background-size: cover;
  height: 200px;
  width: 440px;
  margin-right: -24px;
  position: relative;
  z-index: 2;
}

.master-nav {
  margin-top: 30px;
}

.master-nav a {
  display: inline-block;
  height: 80px;
  width: 200px;
  background-size: contain;
  margin-left: -30px;
}

.master-nav a:nth-of-type(1) {
  background: url('../images/master-nav-index.png') no-repeat left top;
  background-position-x: -400px;
}

.master-nav a:nth-of-type(2) {
  background: url('../images/master-nav-resource.png') no-repeat left top;
  background-position-x: -400px;
}

.master-nav a:nth-of-type(3) {
  background: url('../images/master-nav-about.png') no-repeat left top;
  background-position-x: -400px;
}

.master-nav a:nth-of-type(4) {
  background: url('../images/master-nav-service.png') no-repeat left top;
  background-position-x: -400px;
}

.master-nav a:hover {
  background-position-x: -200px;
}

.master-contact {
  width: 321px;
  height: 63px;
  background: url('../images/master-contact.png') no-repeat right top;
  float: right;
  margin-top: 30px;
}
