<!-- @@master  = master.html -->

<!-- @@block = css -->
<link rel="stylesheet" href="../styles/details.css" />
<!-- @@close -->

<!-- @@block = content -->
<main>
  <div class="details-content">
    <img class="details-decorate-left" src="../images/index-decorate-left.png" alt="">
    <img class="details-decorate-right" src="../images/index-decorate-right.jpg" alt="">
    <div id="myCarousel" class="carousel slide">
      <!-- 轮播（Carousel）指标 -->
      <!-- <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol> -->
      <!-- 轮播（Carousel）项目 -->
      <div class="carousel-inner">
        <div class="item active">
          <img src="../images/details-banner.png" alt="First slide">
        </div>
        <div class="item">
          <img src="../images/details-banner.png" alt="Second slide">
        </div>
        <div class="item">
          <img src="../images/details-banner.png" alt="Third slide">
        </div>
      </div>
      <!-- 轮播（Carousel）导航 -->
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only"></span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only"></span>
      </a>
    </div>
    <div class="details-layout layout">
      <div class="details-search">
        <div class="details-name">
          <span class="details-id">ID:2328</span>
          <p class="details-title">天山华庭三室二厅公寓</p>
          <p class="details-price">
            ¥12,900<span> /月</span>
          </p>
          <p class="details-line"></p>
          <p class="description">
            <span>113平</span>
            <span>7层</span>
            <span>精装修</span>
            <span>现代简约</span>
            <span>朝南</span>
          </p>
          <p><i class="icon icon-local-white"></i>上海普陀区陕西北路1688号</p>
          <button class="details-button" type="button" name="button">立即预约</button>
        </div>
        <div class="details-input">
          <div class="details-input-row-1">
            <input placeholder="联系人" class="" type="text" name="" value="">
            <input placeholder="联系电话" class="" type="text" name="" value="">
          </div>
          <div class="details-input-row-2">
            <div>
              <p>预约看房：</p>
              <input placeholder="2018/03/19" type="text" name="" value="">
            </div>
            <div>
              <p>预计入住：</p>
              <input placeholder="2018/03/20" type="text" name="" value="">
            </div>
            <div>
              <p>预计租期：</p>
              <input placeholder="1年" type="text" name="" value="">
            </div>
          </div>
        </div>
      </div>
      <div class="details-institution">
        <p class="details-institution-title">设施配置</p>
        <p class="details-institution-title-sub">家电信息</p>
        <p class="details-long-line"></p>
        <div class="details-institution-introduce">
          <ul>
            <li><i class="icon-big icon-bed">床*2</i></li>
            <li><i class="icon-big icon-calorifier">热水器*2</i></li>
            <li><i class="icon-big icon-wardrobe">衣柜*2</i></li>
            <li><i class="icon-big icon-exhaust">油烟机*2</i></li>
            <li><i class="icon-big icon-refrigerator">冰箱*2</i></li>
            <li><i class="icon-big icon-microwave">微波炉*2</i></li>
            <li><i class="icon-big icon-sofa">沙发*2</i></li>
            <li><i class="icon-big icon-television">电视机*2</i></li>
            <li><i class="icon-big icon-washer">洗衣机*2</i></li>
            <li><i class="icon-big icon-router">路由器*2</i></li>
            <li><i class="icon-big icon-conditioner">空调*2</i></li>
          </ul>
        </div>
      </div>
      <div class="details-similarity">
        <p class="details-institution-title">相似房源</p>
        <p class="details-institution-title-sub">房源信息</p>
        <p class="details-long-line"></p>
        <div class="details-similarity-cotent">
          <ul>
            <li>
              <p class="details-similarity-cotent-title">静安豪景二室二厅公寓</p>
              <p class="details-similarity-cotent-title-sub">
                <span>2房2厅2卫</span>
                <span>112 平米</span>
                <span>7层</span>
                <span>精装修</span>
                <span>现代简约</span>
              </p>
              <img src="../images/details-resource-1.png" alt="">
              <p class="details-similarity-bottom">
                <i class="icon icon-local-yellow"></i>
                上海静安区西康路501弄
              </p>
            </li>
            <li>
              <p class="details-similarity-cotent-title">静安豪景二室二厅公寓</p>
              <p class="details-similarity-cotent-title-sub">
                <span>2房2厅2卫</span>
                <span>112 平米</span>
                <span>7层</span>
                <span>精装修</span>
                <span>现代简约</span>
              </p>
              <img src="../images/details-resource-2.png" alt="">
              <p class="details-similarity-bottom">
                <i class="icon icon-local-yellow"></i>
                上海静安区西康路501弄
              </p>
            </li>
            <li>
              <p class="details-similarity-cotent-title">静安豪景二室二厅公寓</p>
              <p class="details-similarity-cotent-title-sub">
                <span>2房2厅2卫</span>
                <span>112 平米</span>
                <span>7层</span>
                <span>精装修</span>
                <span>现代简约</span>
              </p>
              <img src="../images/details-resource-3.png" alt="">
              <p class="details-similarity-bottom">
                <i class="icon icon-local-yellow"></i>
                上海静安区西康路501弄
              </p>
            </li>
            <li>
              <p class="details-similarity-cotent-title more">更多房源...</p>
              <img src="../images/details-resource-4.png" alt="">
              <p class="details-similarity-bottom check">
                <a href="">
                  查看详情
                </a>
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- @@include = footer.html -->
  <!-- @@include = copyright.html -->
</main>
<!-- @@close -->

<!-- @@block = javascript -->
<script type="text/javascript">
$('#myCarousel').carousel({
  interval: 2000,
  pause: null
})
</script>
<!-- @@close -->
