<footer class="footer">
  <ul class="layout">
    <li class="footer-section-1">
      <p class="footer-title">关于唐城</p>
      <p class="footer-line"></p>
      <p class="footer-description">唐城城市青年公寓的建设将促进住房市场的健康发展，优化住房市场结构，提高租赁性住房比重；有利于推进区域配套设施的建设，升级青年社区服务，有利于优化青年人才住房市场结构，推进住房保障体系建设。</p>
      <p class="footer-description">唐城城市青年公寓建设将有利于升级社区配 套服务，优化公共意向，满足青年客群对住房的需求，有利于青年文化的交流和文化的碰撞。同时，唐城城市青年公寓具有升级的潜在条件，通过优化公共意向，促进社区交流，形成开放、共享的第三生活空间。</p>
      <p><a href="#">更多详情</a></p>
    </li>
    <li class="footer-section-2">
      <p class="footer-title">最新房源</p>
      <p class="footer-line"></p>
      <div class="footer-source">
        <p>天山华庭三室二厅公寓</p>
        <p class="footer-description">上海普陀区</p>
        <p class="footer-description">陕西北路1688号</p>
        <button type="button" name="button">羊12,500/月</button>
      </div>
      <div class="footer-source">
        <p>天山华庭三室二厅公寓</p>
        <p class="footer-description">上海普陀区</p>
        <p class="footer-description">陕西北路1688号</p>
        <button type="button" name="button">羊12,500/月</button>
      </div>
    </li>
    <li class="footer-section-3">
      <p class="footer-title">联系我们</p>
      <p class="footer-line"></p>
      <p class="footer-description">地址: 上海市浦东新区唐陆路2685号第1幢</p>
      <p class="footer-description">邮编: 210042</p>
      <p class="footer-description">电话: 021-58966855</p>
      <p class="footer-description">传真: 025-84676416</p>
      <p class="footer-description">预订: 4007-999-999</p>
    </li>
    <li class="footer-section-4">
      <p class="footer-line"></p>
      <p class="footer-description">投诉热线: 025-86853969转12345</p>
      <p class="footer-description">报修热线: 025-86853969转12345</p>
      <p class="footer-description">人事招聘: 025-86853969转12345</p>
      <p class="footer-description">商务合作: 025-86853969转12345</p>
    </li>
  </ul>
</footer>
