<!-- @@master  = master.html -->

<!-- @@block = css -->
<link rel="stylesheet" href="../styles/index.css" />
<!-- @@close -->

<!-- @@block = content -->
<main>
  <div class="index-bg">
    <img class="index-decorate-left" src="../images/index-decorate-left.png" alt="">
    <img class="index-decorate-left-triangle" src="../images/index-decorate-triangle.png" alt="">
    <img class="index-decorate-right" src="../images/index-decorate-right.jpg" alt="">
    <img class="index-decorate-right-triangle" src="../images/index-decorate-triangle.png" alt="">
    <div class="index-more">
      <img class="index-decorate-text" src="../images/index-decorate-text.png" alt="">
      <img class="index-decorate-dynamic-triangle" src="../images/index-decorate-big-triangle.png" alt="">
      <div class="wave ripple danger">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="content">
          <i class="fa fa-bell"></i>
        </div>
      </div>
    </div>
    <div class="index-bottom">
      <img width="115" height="28" src="../images/index-bottom-logo.png" alt="">
      <img src="../images/index-logo.png" alt="">
      <span>2018 ©Copyright bu tangtwon.com 版权所有 沪ICP备16016494号-1</span>
    </div>
  </div>
</main>
<!-- @@close -->
