<!-- @@master  = master.html -->

<!-- @@block = css -->
<link rel="stylesheet" href="../styles/login.css" />
<!-- @@close -->

<!-- @@block = content -->

<main>
  <div class="login-bg">
    <div class="layout login-content">
      <p class="login-title">账号登录</p>
      <input placeholder="请输入手机号码" class="login-account" type="text" name="" value=""/>
      <input placeholder="请输入6 - 16位密码" class="login-password" type="text" name="" value=""/>
      <input class="login-checkbox" type="checkbox" name="vehicle" value="Car"/>一周内免登录
      <a class="login-forget">忘记密码？</a>
      <button class="login-btn" type="button" name="button">登录</button>
      <p class="login-line"></p>
      <p>新用户？<span class="login-register">立即注册</span></p>
    </div>
  </div>
  <!-- @@include = footer.html -->
  <!-- @@include = copyright.html -->
</main>
<!-- @@close -->
