<!-- @@master = master.html -->

<!-- @@block = css -->
<link rel="stylesheet" href="../styles/register.css" />
<!-- @@close -->

<!-- @@block = content -->
<div class="showcase">
  <i class="logo-blue"></i>
  <span class="heading">欢迎注册</span>
</div>
<main>
  <!-- 选手注册信息 -->
  <form class="form-inline form-register" id="registerForm">
    <div class="header">选手注册信息</div>
    <div class="form-group">
      <label for="username">登录名：</label>
      <input type="text" class="form-control" id="username" name="username" placeholder="">
    </div>
    <div class="form-group">
      <label for="name">姓名：</label>
      <input type="text" class="form-control" id="username" name="name" placeholder="">
    </div>
    <div class="form-group">
      <label for="password">设置密码：</label>
      <input type="text" class="form-control" id="password" name="password" placeholder="">
    </div>
    <div class="form-group">
      <label for="validPassword">确认密码：</label>
      <input type="text" class="form-control" id="validPassword" name="validPassword" placeholder="">
    </div>

    <!-- 选手基本信息 -->
    <div class="header">选手基本信息</div>
    <div class="form-group">
      <label for="college">学校：</label>
      <input type="text" class="form-control" id="college" name="college" placeholder="">
    </div>
    <div class="form-group">
      <label for="major">专业：</label>
      <input type="text" class="form-control" id="major" name="major" placeholder="">
    </div>
    <div class="form-group">
      <label for="stuNo">学号：</label>
      <input type="text" class="form-control" id="stuNo" name="stuNo" placeholder="">
    </div>
    <div class="form-group">
      <label for="ID">身份证：</label>
      <input type="text" class="form-control" id="ID" name="ID" placeholder="">
    </div>
    <div class="form-group">
      <label for="mobile">手机：</label>
      <input type="text" class="form-control" id="mobile" name="mobile" placeholder="">
    </div>
    <div class="form-group">
      <label for="email">邮箱：</label>
      <input type="text" class="form-control" id="email" name="email" placeholder="">
    </div>

    <!-- 指导老师信息 -->
    <div class="header">指导老师信息</div>
    <div class="form-group">
      <label for="adviser">指导老师1：</label>
      <input type="text" class="form-control" id="adviser" name="adviser" placeholder="">
    </div>
    <div class="form-group">
      <label for="adviserMobile">手机：</label>
      <input type="text" class="form-control" id="adviserMobile" name="adviserMobile" placeholder="">
    </div>
    <div class="form-group">
      <label for="adviser1">指导老师2：</label>
      <input type="text" class="form-control" id="adviser1" name="adviser1" placeholder="">
    </div>
    <div class="form-group">
      <label for="adviserMobile1">手机：</label>
      <input type="text" class="form-control" id="adviserMobile1" name="adviserMobile1" placeholder="">
    </div>

    <!-- 参赛战队信息 -->
    <div class="header">参赛战队信息</div>
    <div class="combatTeam">
      <label class="radio-inline">
        <input type="radio" name="combatTeam" id="choice" value="0"> 不加入任何战队
      </label>
      <label class="radio-inline">
        <input type="radio" name="combatTeam" id="choice1" value="1"> 我要加入战队
      </label>
      <label class="radio-inline">
        <input type="radio" name="combatTeam" id="choice2" value="2"> 我要创建战队
      </label>
    </div>
    <div class="form-group combatTeam">
      <label for="combatTeamName">战队名称：</label>
      <input type="text" class="form-control" id="combatTeamName" name="combatTeamName" placeholder="">
      <span><span class="red-star">*</span>视需要，推荐一位战队成员创建战队，其余成员加入即可。</span>
    </div>

    <div class="wrap text-center">
      <button type="submit" class="btn btn-primary register">注册</button>
      <button type="submit" class="btn btn-default reset">重置</button>
    </div>
  </form>
</main>
<!-- @@close -->

<!-- @@block = script -->
<script src="../scripts/register.js"></script>
<!-- @@close -->
