<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="../styles/normalize.css" />
  <link rel="stylesheet" href="../styles/common.css" />
  <link rel="stylesheet" href="../styles/master.css" />
<!-- start css -->
<link rel="stylesheet" href="../styles/about.css" />

<!-- end css -->
</head>

<body>
  <!-- common header -->
  <header class="master-header">
    <div class="master-logo"></div>
    <section>
      <div class="master-nav">
        <a href="#" id="nav1"></a>
        <a href="#" id="nav2"></a>
        <a href="#" id="nav3"></a>
        <a href="#" id="nav4"></a>
      </div>
      <div class="master-contact"></div>
    </section>
  </header>

<!-- start content -->
<main>
  <div class="about-bg">
    <div class="layout about-content">
      <!-- Tab panes -->
      <div class="tab-content">
        <img src="../images/about-logo.png" alt="">
        <div role="tabpanel" class="tab-pane active" id="home">
          <p>
            "唐城城市青年公寓的建设将促进住房市场的健康发展，优化住房市场结构，提高租赁性住房比重；有利于推进区域配套设施的建设，升级青年社区服务，有利于优化青年人才住房市场结构，推进住房保障体系建设。唐城城市青年公寓建设将有利于升级社区配 套服务，优化公共意向，满足青年客群对住房的需求，有利于青年文化的交流和文化的碰撞。同时，唐城城市青年公寓具有升级的潜在条件，通过优化公共意向，促进社区交流，形成开放、共享的第三生活空间。
          </p>
          <p>
            唐城城市青年公寓的建设响应了国家对于租赁住房建设的支持政策， 促进了住房机制改革的发展，有助于住房租赁市场的发展，提高唐城城市青年公寓住房租赁企业规模化、集约化、专业化水平，是构建以“健康社交”为核心的新型服务社区，有助于升级社区服务， 并探索商业化运营模式，优化公共意向，形成社区共享的第三生活空间，为区域张江科技园和唐镇社区青年提供一个多元化、开放式的公共空间，形成健康的社交闭环，满足青年人才的实际居住体验需求。"
          </p>
        </div>
        <div role="tabpanel" class="tab-pane" id="profile">
          <p>
            唐城城市青年公寓的建设响应了国家对于租赁住房建设的支持政策， 促进了住房机制改革的发展，有助于住房租赁市场的发展，提高唐城城市青年公寓住房租赁企业规模化、集约化、专业化水平，是构建以“健康社交”为核心的新型服务社区，有助于升级社区服务， 并探索商业化运营模式，优化公共意向，形成社区共享的第三生活空间，为区域张江科技园和唐镇社区青年提供一个多元化、开放式的公共空间，形成健康的社交闭环，满足青年人才的实际居住体验需求。"
          </p>
        </div>
        <div role="tabpanel" class="tab-pane" id="messages">
          <p>
            "唐城城市青年公寓的建设将促进住房市场的健康发展，优化住房市场结构，提高租赁性住房比重；有利于推进区域配套设施的建设，升级青年社区服务，有利于优化青年人才住房市场结构，推进住房保障体系建设。唐城城市青年公寓建设将有利于升级社区配 套服务，优化公共意向，满足青年客群对住房的需求，有利于青年文化的交流和文化的碰撞。同时，唐城城市青年公寓具有升级的潜在条件，通过优化公共意向，促进社区交流，形成开放、共享的第三生活空间。
          </p>
        </div>
      </div>
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active nav-1"><a href="#home" aria-controls="home" role="tab" data-toggle="tab"></a></li>
        <li role="presentation" class="nav-2"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"></a></li>
        <li role="presentation" class="nav-3"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab"></a></li>
      </ul>
    </div>
  </div>
<!-- start footer.html-->
<footer class="footer">
  <div class="layout">
    <ul>
      <li>
        <p></p>
      </li>
      <li>123</li>
      <li>123</li>
      <li>123</li>
    </ul>
  </div>
</footer>

<!-- end footer.html-->
<!-- start copyright.html-->
<div class="copyright">
  <div class="layout copyright-content">
    <div class="copyright-logo"></div>
    
    <p class="copyright-nav">
      <a href="#">首页</a>
      <a href="#">唐城房源</a>
      <a href="#">关于我们</a>
      <a href="#">个人中心</a>
    </p>
    <p class="copyright-bottom">
      2017 © inboyu.com 版权所有 粤ICP备16016494号-1
    </p>
  </div>
</div>

<!-- end copyright.html-->
</main>

<!-- end content -->

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
  <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
  <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<!-- start javascript -->


<!-- end javascript -->
  <script type="text/javascript">
    var page = window.location.href
    if (page.indexOf('index') != -1) {
      $('#nav1').css('background-position-x', '0')
    } else if (page.indexOf('source') != -1) {
      $('#nav2').css('background-position-x', '0')
    } else if (page.indexOf('about') != -1) {
      $('#nav3').css('background-position-x', '0')
    } else if (page.indexOf('service') != -1) {
      $('#nav4').css('background-position-x', '0')
    }
  </script>
</body>

</html>
