<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="../styles/normalize.css" />
  <link rel="stylesheet" href="../styles/common.css" />
  <link rel="stylesheet" href="../styles/icon.css" />
  <link rel="stylesheet" href="../styles/master.css" />
<!-- start css -->
<link rel="stylesheet" href="../styles/login.css" />

<!-- end css -->
</head>

<body>
  <!-- common header -->
  <header class="master-header">
    <div class="master-logo"></div>
    <section>
      <div class="master-nav">
        <a href="#" id="nav1"></a>
        <a href="#" id="nav2"></a>
        <a href="#" id="nav3"></a>
        <a href="#" id="nav4"></a>
      </div>
      <div class="master-contact"></div>
    </section>
  </header>

<!-- start content -->
<main class="text-center">
  <h1>
    云盾网络空间安全攻防平台
  </h1>
  <form class="form-login" id="loginForm">
    <em class="wrap-logo"></em>
    <i class="logo-header"></i>
    <div class="form-group username">
      <div class="input-group">
        <div class="input-group-addon">
          <!-- <span class="glyphicon glyphicon-user"></span> -->
          <i class="i-user"></i>
        </div>
        <label for="username" class="sr-only">请输入用户名</label>
        <input type="email" class="form-control" id="username" name="username" placeholder="请输入用户名">
      </div>
    </div>
    <div class="form-group password">
      <div class="input-group">
        <div class="input-group-addon">
          <!-- <span class="glyphicon glyphicon-lock"></span> -->
          <i class="i-lock"></i>
        </div>
        <label for="password" class="sr-only">请输入密码</label>
        <input type="email" class="form-control" id="password" name="password" placeholder="请输入密码">
      </div>
    </div>
    <div class="wrap clearfix">
      <button type="submit" class="btn btn-primary login">登录</button>
      <button type="submit" class="btn btn-default register">注册</button>
    </div>
  </form>
</main>

<!-- end content -->

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
  <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
  <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<!-- start javascript -->


<!-- end javascript -->
  <script type="text/javascript">
    var page = window.location.href
    if (page.indexOf('index') != -1) {
      $('#nav1').css('background-position-x', '0')
    } else if ((page.indexOf('source') != -1) || (page.indexOf('details') != -1)) {
      $('#nav2').css('background-position-x', '0')
    } else if (page.indexOf('about') != -1) {
      $('#nav3').css('background-position-x', '0')
    } else if (page.indexOf('service') != -1) {
      $('#nav4').css('background-position-x', '0')
    }
  </script>
</body>

</html>
